* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  line-height: 1;
}

body,html {
  background: #00000000;
  overflow: visible;
}
.n-slider {
    --n-dot-height: 2px !important;
    --n-dot-width: 2px !important;
    --n-fill-color: #3058f8 !important;
    --n-fill-color-hover: #3063e7 !important;
    --n-font-size: 12px !important;
    --n-handle-size: 12px !important;
    --n-rail-height: 3px !important;
    --n-mark-font-size: 12px !important;
}

.n-select-menu {
    --n-height: 50vh !important;
    --n-option-font-size: 12px !important;
    --n-option-check-color: #1c38de !important;
    --n-option-text-color-active: #1c38de !important;
    --n-option-text-color-disabled: rgba(194, 194, 194, 1);
    --n-option-text-color-pressed: #0c387a !important;
    --n-loading-color: #1833a0 !important;
    --n-option-height: 30px !important;
}

.n-base-selection {
    --n-border-active: 1px solid #2951b0 !important;
    --n-border-focus: 1px solid #1e57e8 !important;
    --n-border-hover: 1px solid #2d68ff !important;
    --n-box-shadow-active: 0 0 0 2px rgba(28, 75, 224, 0.2) !important;
    --n-box-shadow-focus: 0 0 0 2px rgba(24, 67, 160, 0.2) !important;
    --n-caret-color: #1d60f1 !important;
    --n-loading-color: #2458dc !important;
}

.n-modal {
    box-shadow: none;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.2));
}

.vc-chrome-toggle-btn, #input__label__hex__828 {
    display: none;
}

.n-radio-group {
    --n-font-size: 12px !important;
    --n-button-border-color: rgba(218, 218, 218, 0.25) !important;
    --n-button-border-color-active: #1d60f1 !important;
    --n-button-border-radius: 3px;
    --n-button-box-shadow-focus: inset 0 0 0 1px #1449bb, 0 0 0 2px rgba(24, 92, 160, 0.3) !important;
    --n-button-color: rgba(197, 197, 197, 0.4) !important;
    --n-button-color-active: rgba(21, 88, 213, 0.71) !important;
    --n-button-text-color-hover: #5275ff !important;
    --n-button-text-color-active: #ffffff !important;
    --n-height: 28px !important;
}

.n-radio__label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.n-radio-button {
    padding: 0 8px !important;
}

@keyframes blurFadeIN {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.blurFadeIN {
    animation: blurFadeIN 0.3s ease;
    position: absolute;
}

@keyframes blurFadeOUT {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.blurFadeOUT {
    animation: blurFadeOUT 0.3s ease;
    position: absolute;
}
